
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  
  .warning {
    font-weight: bold;
    color: red;
  }
  
  div.warning {
    font-style: italic;
  }
